
* {
  @apply m-0 p-0 box-border;
}

body {
  //@apply bg-gradient-to-r from-light-from to-light-to dark:from-dark-from dark:to-dark-to;
  @apply transition-all text-light-text dark:text-dark-text bg-light dark:bg-dark;
}

.app {
  display: grid;
  grid-template-areas: 'header'
  'main'
  'footer';

  header {
    grid-area: header;
    height: var(--headerHeight);
  }

  main {
    grid-area: main;
    margin-top: var(--headerHeight);
    min-height: calc(150vh - (var(--headerHeight) * 2));
  }

  footer {
    grid-area: footer;
    height: var(--headerHeight);
    @apply flex gap-4 py-4;
  }

}

.container {
  width: clamp(300px, 90vw, 1200px);
  margin: 0 auto;
}

ul {
  list-style: none;
}

a {
  @apply text-inherit no-underline;
}

.btn {
  @apply px-4 py-2 border-0 rounded-xl bg-brand-purple text-dark-text;
  letter-spacing: 1px;
}

.changes {
  @apply p-2 rounded-xl;
}

:focus {
  outline: none;
}

:root {
  --headerHeight: 72px;
}